[Desktop Entry]
Encoding=UTF-8
Version=0.5
Name=Kode
Icon=~/.kode/drive_c/Program\ Files/Kode/icon.png
Exec=/bin/kode
Terminal=false
Type=Application
Categories=Application;Development;